In [14]:
# empty tuple

te = ()

t = (2,"one",3)

t[0]

(2,"one",3) + (5,6)

(2, 'one', 3, 5, 6)

In [15]:
#  immutable, so expect an error

t = (2,"one",3)
t[1] = 4

TypeError: 'tuple' object does not support item assignment

In [16]:
# slicing => Extra comma means a tuple with one  elemen t

t[1:2]

('one',)

In [17]:
t[0:3]

(2, 'one', 3)

In [6]:
#  the extra , in the () shows it's a tuple for a one element tuple
# example:

tuple1 = ("one")
tuple2 = ("one",)

print(tuple1)
print(tuple2)

one
('one',)

In [8]:
# swapping

# alt 1
x = 2
y = 1

temp = x
x = y
y = temp

print(x)
print(y)

1
2

In [10]:
#  with tupe
(x,y) = (y,x)

print(x)
print(y)

1
2

In [18]:
tuple3 = (5)
type(tuple3)

int

In [19]:
tuple3 = (5,4)
type(tuple3)

tuple

In [20]:
tuple3 = (5,)
type(tuple3)

tuple

# x[num][num] is a way to access an element within a nested sequence. It's like saying "get the num-th element of x, then get the num-th element of the result."

In [30]:
x = (1, 2, (3, 'John', 4), 'Hi')
print(x[2][2])  # Accessing the second index within the tuple at index 2

4

In [35]:
x = (1, 2, (3, 'John', 4), 'Hi')
print(x[2][-1])  # Accessing the second index within the tuple at index 2

4

In [40]:
# x[-1][-1] is a way to access the last element of the last element in the tuple x
print(x[-1][-2])

H

In [42]:
print(x[0:-1])

(1, 2, (3, 'John', 4))

In [49]:
print(x[0:1])

(1,)

In [44]:
3 in x

False

In [13]:
# used to return more than one value from function

def quotient_and_remainder(x,y):
    
    q = x//y
    r = x%y
    
    return (q,r)

(quot,rem) = quotient_and_remainder (4,5)

print((quot,rem))

(0, 4)

In [ ]:
# manipulating tuples

# LIST

In [47]:
#  SUM OF ELEMENTS
L = [2,3,6,9,0,2,5,7]
total = 0

for i in range(len(L)):
    
    total += L[i]
    
print(total)

34

In [48]:
#  SUM OF ELEMENTS
L = [2,3,6,9,0,2,5,7]
total = 0

for i in L:
    
    total += i
    
print(total)

34

In [74]:
# concatenation

L1 = [2,1,4,6]
L2 = [0,3,8,5,9]
L3 = L1+L2

print(L3)

[2, 1, 4, 6, 0, 3, 8, 5, 9]

In [76]:
del(L3[-1])

print(L3)

[2, 1, 4, 6, 0, 3, 8, 5]

In [77]:
L1.append(6)
print(L1)

[2, 1, 4, 6, 6]

In [ ]:
L3.pop()

In [78]:
print(L3.pop())

5

In [79]:
print(L3)

[2, 1, 4, 6, 0, 3, 8]

In [80]:
L3.remove(3)

In [81]:
print(L3)

[2, 1, 4, 6, 0, 8]

In [84]:
#  convert List to Strings and back

s = 'abc'

list(s)

print(list(s))

['a', 'b', 'c']

In [98]:


s = "I <3 cs"

L4 = list(s)

print(L4)

['I', ' ', '<', '3', ' ', 'c', 's']

In [99]:
# split()

s = s.split()

print(s)

['I', '<3', 'cs']

In [101]:
# split()
s = "I <3 cs"
s = s.split('<') # breaks into tow parts

print(s)

['I ', '3 cs']

In [104]:
# join

s = "abc"
L = list(s)
L = ''.join(L)

print(L)

abc

In [105]:
# join

s = "abc"
L = list(s)
L = '_'.join(L)

print(L)

a_b_c

In [106]:
#  sorted, L.sort()

L = [2,7,3,9,1,0]

print(sorted(L))  #No mutation
print(L)

[0, 1, 2, 3, 7, 9]
[2, 7, 3, 9, 1, 0]

In [108]:
#  sorted, L.sort()

L = [2,7,3,9,1,0]

L.sort() # mutation
print(L)

[0, 1, 2, 3, 7, 9]

In [109]:
#  reverse


L = [2,7,3,9,1,0]

L.reverse() # mutation
print(L)

[0, 1, 9, 3, 7, 2]

In [112]:
L1 = [2,1,4,6]
L2 = [0,3,8,5,9]
L3 = L1+L2

L3.pop()

9

In [120]:
L3.reverse()
print(L3.reverse())

None

In [117]:
L3

[5, 8, 3, 0, 6, 4, 1, 2]

In [122]:
listA = [1, 4, 3, 0]
listB = ['x', 'z', 't', 'q']


type(listA.sort())

NoneType

In [124]:
listA.insert(0, 100)

print(listA)

[100, 100, 0, 1, 3, 4]

In [125]:
>>> aList = [0, 1, 2, 3, 4, 5]
>>> bList = aList
>>> aList[2] = 'hello'
>>> aList == bList

True

In [126]:
aList is bList

True

In [127]:
>>> aList

[0, 1, 'hello', 3, 4, 5]

In [128]:
>>> cList = [6, 5, 4, 3, 2]
>>> dList = []
>>> for num in cList:
        dList.append(num)
>>> cList == dList

True

In [129]:
>>> cList[2] = 20
>>> cList

[6, 5, 20, 3, 2]

In [137]:
def applyToEach(L,f):
    
    for i in range (len(L)):
        L[i] = f(L[i])
        
L = [1,-2,3.4]

applyToEach (L, abs)
applyToEach (L, int)


print(L)

[1, 2, 3]

In [139]:
from math import *

def applyFuns(L,x):
    
    for f in L:
        print(f(x))
        

applyFuns([abs, int], 4)

4
4

In [140]:
# map

for elt in map(abs, [1,-2,3,-4]):
    print(elt)

1
2
3
4

In [141]:
L1 = [1,28,36]
L2 = [2,57,9]

for elt in map(min, L1, L2):
    print(elt)

1
28
9

# Dictionary

In [1]:

grades = {'Ana':'B', 'John':'A+', 'Denise':'A', 'Katy':'A'}

grades['Sylvan'] = 'A'

print(grades)

{'Ana': 'B', 'John': 'A+', 'Denise': 'A', 'Katy': 'A', 'Sylvan': 'A'}

In [2]:
print('Ana' in grades)

True

In [3]:
del(grades['Ana'])

print(grades)

{'John': 'A+', 'Denise': 'A', 'Katy': 'A', 'Sylvan': 'A'}

In [4]:
print(grades.keys())

dict_keys(['John', 'Denise', 'Katy', 'Sylvan'])

In [5]:
print(grades.values())

dict_values(['A+', 'A', 'A', 'A'])

In [8]:
# creating a dictionary

def lyrics_to_frequencies(lyricis):
    
    myDict = {}
    
    for word in lyrics:
        
        if word in myDict:
            myDict[word] += 1
            
        else:
            myDict[word] = 1
            
    return myDict

In [9]:
def lyrics_to_frequencies(lyrics):
    myDict = {}
    for word in lyrics:
        if word in myDict:
            myDict[word] += 1
        else:
            myDict[word] = 1
    return myDict
    
    
she_loves_you = ['she', 'loves', 'you', 'yeah', 'yeah', 'yeah',
'she', 'loves', 'you', 'yeah', 'yeah', 'yeah',
'she', 'loves', 'you', 'yeah', 'yeah', 'yeah',

'you', 'think', "you've", 'lost', 'your', 'love',
'well', 'i', 'saw', 'her', 'yesterday-yi-yay',
"it's", 'you', "she's", 'thinking', 'of',
'and', 'she', 'told', 'me', 'what', 'to', 'say-yi-yay',

'she', 'says', 'she', 'loves', 'you',
'and', 'you', 'know', 'that', "can't", 'be', 'bad',
'yes', 'she', 'loves', 'you',
'and', 'you', 'know', 'you', 'should', 'be', 'glad',

'she', 'said', 'you', 'hurt', 'her', 'so',
'she', 'almost', 'lost', 'her', 'mind',
'and', 'now', 'she', 'says', 'she', 'knows',
"you're", 'not', 'the', 'hurting', 'kind',

'she', 'says', 'she', 'loves', 'you',
'and', 'you', 'know', 'that', "can't", 'be', 'bad',
'yes', 'she', 'loves', 'you',
'and', 'you', 'know', 'you', 'should', 'be', 'glad',

'oo', 'she', 'loves', 'you', 'yeah', 'yeah', 'yeah',
'she', 'loves', 'you', 'yeah', 'yeah', 'yeah',
'with', 'a', 'love', 'like', 'that',
'you', 'know', 'you', 'should', 'be', 'glad',

'you', 'know', "it's", 'up', 'to', 'you',
'i', 'think', "it's", 'only', 'fair',
'pride', 'can', 'hurt', 'you', 'too',
'pologize', 'to', 'her',

'Because', 'she', 'loves', 'you',
'and', 'you', 'know', 'that', "can't", 'be', 'bad',
'Yes', 'she', 'loves', 'you',
'and', 'you', 'know', 'you', 'should', 'be', 'glad',

'oo', 'she', 'loves', 'you', 'yeah', 'yeah', 'yeah',
'she', 'loves', 'you', 'yeah', 'yeah', 'yeah',
'with', 'a', 'love', 'like', 'that',
'you', 'know', 'you', 'should', 'be', 'glad',
'with', 'a', 'love', 'like', 'that',
'you', 'know', 'you', 'should', 'be', 'glad',
'with', 'a', 'love', 'like', 'that',
'you', 'know', 'you', 'should', 'be', 'glad',
'yeah', 'yeah', 'yeah',
'yeah', 'yeah', 'yeah', 'yeah'
]

beatles = lyrics_to_frequencies(she_loves_you)

In [10]:
print(beatles)

{'she': 20, 'loves': 13, 'you': 36, 'yeah': 28, 'think': 2, "you've": 1, 'lost': 2, 'your': 1, 'love': 5, 'well': 1, 'i': 2, 'saw': 1, 'her': 4, 'yesterday-yi-yay': 1, "it's": 3, "she's": 1, 'thinking': 1, 'of': 1, 'and': 8, 'told': 1, 'me': 1, 'what': 1, 'to': 3, 'say-yi-yay': 1, 'says': 3, 'know': 11, 'that': 7, "can't": 3, 'be': 10, 'bad': 3, 'yes': 2, 'should': 7, 'glad': 7, 'said': 1, 'hurt': 2, 'so': 1, 'almost': 1, 'mind': 1, 'now': 1, 'knows': 1, "you're": 1, 'not': 1, 'the': 1, 'hurting': 1, 'kind': 1, 'oo': 2, 'with': 4, 'a': 4, 'like': 4, 'up': 1, 'only': 1, 'fair': 1, 'pride': 1, 'can': 1, 'too': 1, 'pologize': 1, 'Because': 1, 'Yes': 1}

In [15]:
def most_common_words(freqs):
    values = freqs.values()
    best = max(values)
    words = []
    for k in freqs:
        if freqs[k] == best:
            words.append(k)
    return (words, best)

In [16]:
(w,b)=most_common_words(beatles)

print(w)

['you']

In [19]:
def least_common_words(freqs):
    values = freqs.values()
    worst = min(values)
    words = []
    for k in freqs:
        if freqs[k] == worst:
            words.append(k)
    return (words, worst)

In [20]:
(w,b)=least_common_words(beatles)

print(w)

["you've", 'your', 'well', 'saw', 'yesterday-yi-yay', "she's", 'thinking', 'of', 'told', 'me', 'what', 'say-yi-yay', 'said', 'so', 'almost', 'mind', 'now', 'knows', "you're", 'not', 'the', 'hurting', 'kind', 'up', 'only', 'fair', 'pride', 'can', 'too', 'pologize', 'Because', 'Yes']

In [21]:
def words_often(freqs, minTimes):
    result = []
    done = False
    while not done:
        temp = most_common_words(freqs)
        if temp[1] >= minTimes:
            result.append(temp)
            for w in temp[0]:
                del(freqs[w])  #remove word from dictionary
        else:
            done = True
    return result
    
print(words_often(beatles, 5))

[(['you'], 36), (['yeah'], 28), (['she'], 20), (['loves'], 13), (['know'], 11), (['be'], 10), (['and'], 8), (['that', 'should', 'glad'], 7), (['love'], 5)]