# Variables, expressions, and statements

# Values and Types
# Values: One of the basic things a program works with eg: 1, "Hello world!", etc

In [7]:
# integer
x = 2
type (x)

int

In [6]:
# string
y = "Hello world"
type(y)

str

In [9]:
# float
z = 2.1
type(z)

float

In [10]:
k = "17"
type(k)

str

In [11]:
print(1,000,000)

1 0 0

# Variables
Can contain both letters and numbers but can not start with numbers
Legal to use uppercase letters but a good idea to use lower case letters
underscore character can appear in a name
variable names can start with underscore but it's generally discouraged

# Operators ajnd operands
// truncates a float to return integers
% modulus operayor
// prints quotient whereas % prints remainder

In [14]:
30%50

30

In [13]:
30//50

0

In [17]:
# Exercise 1

5
x = 5
x +1

6

# Order of operation
PEMDAS = Parenthesis -> Exponentiation -> Multiplication -> Division -> Addition -> Subtraction

# string operation
+ works with strings but in like additin: Concatenation

In [21]:
kofi = "When is the quiz?"
ama = " Friday night"

print(kofi + ama)

When is the quiz? Friday night

#  * works with strings too by multiplying stirng with an integer

In [30]:
kofi_init = "*"

for i in range(5):
    kofi = i*kofi_init
    print(kofi)

*
**
***
****

# Asking user for an input
use input()

In [32]:
int = input()
print(int)

Lavoisier is back
Lavoisier is back

# Eercies 2.15

# Exercise 2
Write a program that uses input to prompt a user for their
name and then welcomes them.

In [36]:
name = input("Enter your name: ")
print(f"Hello {name}")
print("Hello " + name)

Enter your name: Chuck
Hello Chuck
Hello Chuck

# Exercise 3
Write a program to prompt the user for hours and rate per
hour to compute gross pay.

In [3]:
rate =float(input("Enter rate: "))
hour = int(input("Enter hour: "))
pay = rate*hour

print(f"pay: {pay}")

Enter rate: 2.75
Enter hour: 35
pay: 96.25

# Exercise 4: 
Assume that we execute the following assignment statements:

In [6]:
width = 7
height = 12.0

print(f"{width//2}") # 3
print(f"{width/2.0}") #3.5
print(f"{height/3}") # 4.0
print( 1 + 2 * 5) #11

3
3.5
4.0
11

# Exercise 5:
Write a program which prompts the user for a Celsius temperature, convert the temperature to Fahrenheit, and print out the
converted temperature.

In [8]:
cel = float(input("Value in celcius: "))
fah = 32 + (9/5)*cel

print(fah)

Value in celcius: 32
89.6